<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <style>
    body {
      font-family: "Times New Roman", Times, serif;
      margin: 0;
      padding: 0;
      background-image: url("images/background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .back-arrow {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 40px;
      font-weight: bold;
      color: #7d4a13;
      text-decoration: none;
      cursor: pointer;
    }
    
    .back-arrow:hover {
      color: #b88855;
    }
    
    .container {
      max-width: 400px;
      width: 100%;
      margin: 100px auto;
      padding: 20px;
      background-color: transparent;
      text-align: center;
    }
    
    .container h1 {
      font-size: 30px;
      color: #7d4a13;
      margin-bottom: 20px;
    }
    
    .container label {
      display: block;
      margin-bottom: 8px;
      color: #7d4a13;
      font-weight: bold;
      text-align: left;
      font-size: 20px;
    }
    
    .input-container {
      position: relative;
      margin-bottom: 16px;
    }
    
    .container input[type="text"],
    .container input[type="password"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #dedcd9;
      padding-right: 40px; /* Hely biztosítása az ikon számára */
      color: #7d4a13;
      font-size: 15px;
    }
    
    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
    
    .container input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #7d4a13;
      color: #fbead8;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: "Times New Roman", Times, serif;
      font-size: 15px;
    }
    
    .container input[type="submit"]:hover {
      background-color: #b88855;
    }
  </style>
</head>
<body>
  <a href="/" class="back-arrow">&#8592;</a>
  <div class="container">
    <h1>Bejelentkezés</h1>
    <form action="/login" method="post">  <!-- küld egy postot, amit a controller kezel le -->
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email" required>
      
      <label for="password">Jelszó:</label>
      <div class="input-container">
        <input type="password" id="password" name="password" required>
        <img src="images/hide.png" class="toggle-password" id="togglePassword" alt="Show/Hide Password">
      </div>
      
      <input type="submit" value="Bejelentkezés">
    </form>
  </div>
  <script>
    document.getElementById('togglePassword').addEventListener('click', function () {
      const passwordField = document.getElementById('password');
      const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordField.setAttribute('type', type);

      // Váltás az ikon között
      if (type === 'password') {
        this.src = 'images/hide.png';
      } else {
        this.src = 'images/view.png';
      }
    });
  </script>
</body>
</html>
