<div class="edit_add-container">
  <h1>Új recept hozzáadása</h1>
  <form method="POST" action="/recipes/add" enctype="multipart/form-data">
    <div class="recipe-form-section">
      <label for="nev">Név:</label>
      <input type="text" id="nev" name="nev" required>
    </div>
    <div class="recipe-form-section">
      <label for="kep">Kép feltöltése:</label>
      <input type="file" id="kep" name="kep" accept="image/*" required>
    </div>
    <div class="recipe-form-section">
      <label for="leiras">Leírás:</label>
      <textarea id="leiras" name="leiras" required></textarea>
    </div>
    <div class="recipe-form-section">
      <label for="hozzavalok">Hozzávalók:</label>
      <textarea id="hozzavalok" name="hozzavalok" required></textarea>
    </div>
    <div class="recipe-form-section">
      <label for="keszitesi_utmutato">Készítési útmutató:</label>
      <textarea id="keszitesi_utmutato" name="keszitesi_utmutato" required></textarea>
    </div>
    <div class="recipe-form-section">
      <label for="elokeszitesi_ido">Előkészítési idő:</label>
      <input type="text" id="elokeszitesi_ido" name="elokeszitesi_ido" value="" >
    </div>
    <div class="recipe-form-section">
      <label for="sutesi_ido">Sütési idő:</label>
      <input type="text" id="sutesi_ido" name="sutesi_ido" value="" >
    </div>
    <div class="recipe-form-section">
      <label for="adagok_szama">Adagok száma:</label>
      <input type="text" id="adagok_szama" name="adagok_szama" value="" >
    </div>
    <div class="recipe-form-section button-group">
      <button type="submit" class="btn">Recept mentése</button>
      <button type="button" onclick="window.location.href='/recipes'" class="btn btn-cancel">Mégse</button>
    </div>
  </form>
</div>