<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>SütiVarázs</title>
  <link rel="stylesheet" href="/css/style_hbs.css">
</head>
<body>
  <a href="javascript:history.back()" class="back-button">←</a>
  {{{body}}}
</body>
</html>