<div>
  <h1>Üdvözöllek a SütiVarázs oldalon!</h1>
  <p>Keress rá, vagy oszd meg velünk kedvenc receptjeidet!</p>
  <p>Kérlek jelentkezz be! Ha pedig új vagy még itt, csatlakozz hozzánk!</p>
  <div>
    <a href="/user/login" class="btn">Bejelentkezés</a>
    <a href="/user/register" class="btn">Regisztráció</a>
  </div>
</div>