extends layout.pug

block content
  .home-container
    h1 Üdvözöllek a SütiVarázs oldalon!
    p Keress rá, vagy oszd meg velünk kedvenc receptjeidet!
    p Kérlek jelentkezz be! Ha pedig új vagy még itt, csatlakozz hozzánk!
    .home-buttons
      a(href="/user/login").btn Bejelentkezés
      a(href="/user/register").btn Regisztráció