doctype html
html(lang="hu")
  head
    meta(charset="UTF-8")
    title SütiVarázs
    link(rel="stylesheet" href="/css/style_pug.css")
  body
    a(href="javascript:history.back()").back-button ←
    block content