extends layout.pug

block content
  div
    if user
      p
        a(href="/user/logout") Kijelentkezés
    h1 Felhasználói felület
    if recipes && recipes.length > 0
      each recipe in recipes
        div
          h3 #{recipe.nev}
          p
            strong Hozzávalók: 
            | #{recipe.hozzavalok}
          p
            strong Elkészítési útmutató: 
            | #{recipe.leiras}
    else
      p Még nem adtál hozzá recepteket.